<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <div class="container">
  <%- include("./partials/nav.ejs") %>

 
   <div class="blog-head"> <h2>ALL BLOGS</h2> </div>
    <div class="blogs content">
      
    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blogs => { %>
      <a class="single" href="/blogs/<%= blogs._id %>">
        <h3 class="title"><%= blogs.title %>
        <p class="name"> - <%= blogs.name %></p>
         </h3>
        <p class="snippet">  <%= blogs.snippet %> </p>
    
        
      </a>
      <% }) %>
    <% } else { %>
      <p>There are no blogs to display. Create one!</p>
    <% } %>
    
</div>
  <%- include("./partials/footer.ejs") %>
</div>
</body>
</html>